@import "tailwindcss";

body {
  overflow-x: hidden;
}

.swiper-container {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
